#search-list {
    margin: auto;
}
#search-list h2 {
    color: #fff;
}
#search-list input {
    line-height: 2;
    font-size: 18px;
    height: auto;
    padding-left: 20px;
}
#search-list ul {
    margin: 0;
}
#search-list ul li {
    list-style: none;
    border: 1px solid #ccc;
    margin-top: -1px;
    line-height: 2;
    font-size: 140px;
    padding: 5px 20px;
    background: white;
}
#search-list ul li span {
    display: block;
    font-size: 12px;
    color: #666;
}
#search-list ul li h6 {
    color: darkblue;
    margin-bottom: 5px;
}
